.contactsdetail form{
    text-align: center;
}
.contactsdetail input{
display: inline-block;
  text-align: center;
  width: 50%;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.btn{
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 5px 20px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 25px;
    border-radius: 6px;
}
.contactsdetail h2{
    text-align: center;
    padding: 20px;
}

