#section3{
    height: 1000px;
    background:#39878f;
    display: inline-block;
    width: 100%;
}
.AddOffers{
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
    color: #c2edce;
    font-size: 40px;
   }
.cardbox3{
    display: flex;
}
.card3 h1{
    font-size: 18px;
  }
  .card3 {
      box-shadow: 0 10px 15px 0 rgba(6, 6, 6, 0.2);
      background-color: rgb(46, 132, 103);
      max-width: 290px;
      max-height: 100%;
      margin-left: 2%;
      margin-top: -20%;
      text-align: center;
      font-family: arial;

      
    }
     .price {
      color: rgb(251, 247, 247);
      font-size: 20px;
    }
 .card3 button {
      border: none;
      outline: 0;
      padding: 12px;
      color: rgb(8, 8, 8);
      background-color: #c2edce;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .card3 button:hover {
    opacity: 0.7;
    transform: scale(1.02);
  }
  .row3{
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }