#section1{
    height: 700px;
    background-image: url('Windows.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: inline-block;
    width: 100%;
    
}
.Button1{
    margin-top: 10%;
    max-width: 50%;
} 
.Button1 h1{
    margin-top: 30%;
    margin-right: 15%;
    margin-left: 15%;
    font-size: 55px;
    margin-bottom: 5%;
    color: #388087;
    font-family: "Josefin Sans";
    
}
.Button1 p{
    margin-left: 2%;
    font-size: 18px;
    margin-left: 15%;
    font-style: italic;
    font-weight: lighter;
}
.Button1 a{
    display: inline;
    text-decoration: none;
    color: rgb(255, 251, 251);
    background: #388087;
    padding: 20px 30px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15%;
    border-radius: 6px;
}
.Button1 a:hover {
    opacity: 0.7;
    transform: scale(1.02);
  }